<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="search_form_style">
        <form method="POST" action="/search">
          {#{{form.csrf}}}
          {#  {{form.hidden_tag()}}#}
            <label>Address:</label><br>
            {{form.addressInput}}

            <br><br>

            <label>City:</label><br>
            {{form.cityInput}}
            <br><br>

            <label>State:</label><br>
            {{form.stateInput}}
            <br><br>

            <label>Zip Code:</label><br>
            {{form.zipInput}}
            <br><br>

            <input type="submit" value="search">
        </form>
    </div>

</body>

</body>
</html>